@model IEnumerable<FitnessCenterProject.Models.Gym>

@{
    ViewData["Title"] = "Spor Salonları";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Spor Salonu Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GymId">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.GymId">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.GymId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
