@model IEnumerable<FitnessCenterProject.Models.TrainerService>

@{
    ViewData["Title"] = "Antrenör Servisleri";
}
@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin")) {
    <p>
    <a asp-action="Create" class="btn btn-primary">Yeni Antrenör Servisi Ekle</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>

                @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TrainerServiceId">Düzenle</a> |
                        <a asp-action="Details" asp-route-id="@item.TrainerServiceId">Detaylar</a> |
                        <a asp-action="Delete" asp-route-id="@item.TrainerServiceId">Sil</a>
                    </td>
                }

        </tr>
}
    </tbody>
</table>
