@model IEnumerable<FitnessCenterProject.Models.Trainer>

@{
    ViewData["Title"] = "Antrenörler";
}
@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
{
    <p>
    <a asp-action="Create" class="btn btn-primary">Yeni Antrenör Ekle</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gym)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gym.Name)
            </td>
            @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
          {
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrainerId">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.TrainerId">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.TrainerId">Sil</a>
            </td>
           }
        </tr>
}
    </tbody>
</table>
