@model IEnumerable<FitnessCenterProject.Models.TrainerAvailability>

@{
    ViewData["Title"] = "Antrenör Müsaitlikleri";
}
@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin")){
<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Müsaitlik Ekle</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.Name)
            </td>

                @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AvailabilityId">Düzenle</a> |
                        <a asp-action="Details" asp-route-id="@item.AvailabilityId">Detaylar</a> |
                        <a asp-action="Delete" asp-route-id="@item.AvailabilityId">Sil</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
